<li>
    <small>
        <a href="/comment/destroy/<%=comment.id%>">X</a>
    </small>
    <p>
        <%= comment.content %>
            <br>
            <span>
                <%= comment.user.name %>
            </span>
    </p>
</li>