<div>
    <p>
        <h2>Hi!! <%= comment.user.name%></h2>
        <br>
        <p>Your comment <strong><%= comment.content%></strong> just got published on Sociel</p>
    </p>
     
    <br>

    <span>Thanks!!</span>
</div>